name: qops-deploying
on:
  push:
    branches:
      - 'main'
jobs:
  qops-init:
    name: "Setting QOps Configuration"
    runs-on: [self-hosted, Windows, X64]
    continue-on-error: false
    steps:
      - name: fetching from repository
        uses: actions/checkout@v1        
      - name: environment details
        run: powershell -Command '$env:UserName; $env:UserDomain; $env:ComputerName;'
      - name: setting configuration
        run: powershell -Command 'QOps-SetConfig -SenseAuthMode JWT -Prefix jwt -SenseURL https://rds2.dvsts.com/ -SenseUser DVSTS\test -JwtToken eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyaWQiOiJ0ZXN0IiwidXNlcmRpcmVjdG9yeSI6IkRWU1RTIn0.cGbQn7pTH3UqlaIXiIJZOs-BWuTwu8GPAIAidia20iHtEC3F5qS8lIEcIwdfyRKgK4eCYsYiR39xUiaQdwgIJVdTWXQCSTUZf5-pPK-Kliid_sVP-1rAe4-XJWHp5nTkDzzemiKqRT7ltQn-4geMWwR8TpsKFfvqh1QUErHsCgtZOob7rim9lxx8EsoelwtZ_DKpkEB4pgQUQ9yeClF4xl9ORr-zH4H_wumoTMduslxouG7Ka_tWKW3T-XgrLfwo8w7CoikALYC05Ebz4fcUVhm8GHpIUA4oaxk1uN0s42JAXbIXEc3fLYofplhukRwRGXA2L-sizJ16qJT-JOGrhLhilV-syZQwpjKNO4aKE8uYhTfWcqHb5L-hxNVL_qpzFWzqO3XJh8bMw0ZszdmZrKNdQbUIRGqfBckLVJ4hOv0jiI0jyUAYpF_CtAUgmzgeCdM-oziwIYEbBODuWxwP0d2TAhEBlSdMWpx9lGgmbV-csgfcxefLk8sME8JbTE_W0Kgod8WNV3VO9x7Wi7ZKqILd60Oz9Yt-WUisZguiP7NkZazk62pHjpjCmddeS4zmWuKnLq-VOcOSa3v6jbR4aQg5CcxEmLS_Oz2j9NlDiFEPaO60tf29Mx8CAO6HkX1CMFXDcgnBm3cVHoHuqk93YhFAPsp43ZrvazoqgF4D4d8 -Profile JWT'
      - name: checking qops-license
        run: powershell qops-checklicense
      # - name: setting params
      #   run: powershell qops-setfilter '"""Name=IBCS_demo,Owner=demo"""'
      - name: showing params
        run: powershell qops-showdefault

  qops-build:
    name: "Building QlikSense Sources"
    runs-on: [self-hosted, Windows, X64]
    continue-on-error: false
    needs: qops-init
    steps:
      - name: building
        run: powershell qops-build -reload

  # qops-reload:
  #   name: "Reloading QlikSense Application"
  #   runs-on: [self-hosted, Windows, X64]
  #   continue-on-error: false
  #   needs: qops-build
  #   steps:
  #     - name: reloading        
  #       run: powershell qops-reload '-Filter """Name=IBCS_demo,Owner=demo"""'        